@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&display=swap');

:root {
    --branco: #fff;
    --cinza: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #4092f7;
    --bg-color: #00030C;
    --fonte-principal: 'Inter'
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background: var(--bg-color) url("imgs/Background.png") no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.container__div {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;

}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    border-radius: 5px;
    padding: 1em;
    color: var(--branco);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--bg-color);
}

.b-um {
    background-color: var(--botao-azul);
}

.b-dois {
    background-color: transparent;
    border: 2px solid var(--branco);
}

.container__aviso {
    color: var(--cinza);
    font-size: 12px;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza);
}

.b-tres {
    background-color: var(--botao-azul);
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;   
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    color: var(--branco);
    margin-left: 1em;
    text-decoration: none;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.rodpe__texto {
    color: var(--cinza);
    font-size: 14px;
    margin: 1em 0;
}